body, html { 
  width: 100%;
  height: 100%;
  margin: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.adding-div {
  display: flex;
  justify-content: center;
  margin: 4px;

  .left-block-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4px;

    .add-values-div {
      display: flex;
    }

    .filter-div {
      display: flex;
    }
  }

  .feedback-add-div {
    display: flex;
    margin: 4px;
  }
}

.clear-all-div {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}